/* Carousel Styles */
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 30px;
  padding: 20px 0 40px 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.carousel-item {
  scroll-snap-align: center;
  flex: 0 0 320px;
}
